<%-include('partials/header');-%>

<header>
<div class=""smoothie">
<img src="/fraggle.jpg" alt="a missing pic i probably won't upload to the project... because it's about function, not aesthetics">
</div>
<div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Presindents For Dictators</h3>
    <a href="/smoothies" class="btn">See Recipes</a>
</div>

</header>

<%-include('partials/footer');-%>